/* You can add global styles to this file, and also import other style files */
html {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.team-container {
    width: 50%;
    height: 98vh;
    display: inline-block;
}
.inner-team-container {
    width: 90%;
    height: 90%;
    padding: 5%;
}
.left-team-container {
    background-color: rgb(5, 88, 5);
}
.right-team-container {
    background-color: rgb(5, 5, 133);
}
.team-title {
    margin: 0 auto;
    text-align: center;
    font-size: 12vh;
    width: 90%;
}

.score {
    margin: 5vh auto;
    text-align: center;
    font-size: 12vh;
    line-height: 14vh;
    width: 90%;
}

.points {
    margin: 5vh auto;
    text-align: center;
    font-size: 6vh;
    line-height: 8vh;
    width: 90%;
}

.score-animating {
    color: yellow;
}

.bottom-section {
    position: relative;
}

.answers-container {
    width: 100%;
    display: inline-block;
}

.answer-container {
    width: 100%;
    margin: 1vh 0;
}

.answer-score {
    vertical-align: top;
    display: inline-block;
    margin: 0 auto;
    font-size: 5vh;
    text-align: center;
    width: 25%;
}

.answer-text {
    vertical-align: top;
    display: inline-block;
    font-size: 5vh;
    text-align: center;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;;
}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































